#
# K2HDKC DBaaS on Kubernetes Command Line Interface - K2HR3 CLI Plugin
#
# Copyright 2021 Yahoo Japan Corporation.
#
# K2HDKC DBaaS is a DataBase as a Service provided by Yahoo! JAPAN
# which is built K2HR3 as a backend and provides services in
# cooperation with Kubernetes.
# The Override configuration for K2HDKC DBaaS serves to connect the
# components that make up the K2HDKC DBaaS. K2HDKC, K2HR3, CHMPX,
# and K2HASH are components provided as AntPickax.
#
# For the full copyright and license information, please view
# the license file that was distributed with this source code.
#
# AUTHOR:   Takeshi Nakatani
# CREATE:   Wed Sep 15 2021
# REVISION:
#

#---------------------------------------------------------------------
# K2HDKC DBaaS K8S CLI : Global configuration file
#---------------------------------------------------------------------
#
# Configuration for values that can be set for the configuration for
# K2HDKC DBaaS K8S.
# The format is a format that can be read by a shell script.
#	<Keyword>=<value>
# (please do not put a space before and after the equal.)
#

K2HR3CLI_DBAAS_K8S_R3API_NP_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-api-nodeport.yaml.templ"
K2HR3CLI_DBAAS_K8S_R3APP_NP_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-app-nodeport.yaml.templ"

K2HR3CLI_DBAAS_K8S_R3API_PROD_JSON_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-api-production.json.templ"
K2HR3CLI_DBAAS_K8S_R3APP_PROD_JSON_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-app-production.json.templ"

K2HR3CLI_DBAAS_K8S_R3_KUSTOM_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-kustomization.yaml.templ"

K2HR3CLI_DBAAS_K8S_R3DKC_POD_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-k2hdkc.yaml.templ"
K2HR3CLI_DBAAS_K8S_R3API_POD_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-k2hr3api.yaml.templ"
K2HR3CLI_DBAAS_K8S_R3APP_POD_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-k2hr3app.yaml.templ"
K2HR3CLI_DBAAS_K8S_R3_SA_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-sa.yaml.templ"

K2HR3CLI_DBAAS_K8S_K2HR3_K2HDKC_INI_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-k2hdkc.ini.templ"
K2HR3CLI_DBAAS_K8S_K2HDKC_INI_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc.ini.templ"

K2HR3CLI_DBAAS_K8S_K2HDKC_SVR_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-server.yaml.templ"
K2HR3CLI_DBAAS_K8S_K2HDKC_SLV_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-slave.yaml.templ"
K2HR3CLI_DBAAS_K8S_K2HDKC_KUSTOM_YAML_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-kustomization.yaml.templ"

K2HR3CLI_DBAAS_K8S_K2HR3_DKC_INIUPDATE_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-k2hdkc-ini-update.sh"
K2HR3CLI_DBAAS_K8S_K2HR3_API_WRAP_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-api-wrap.sh"
K2HR3CLI_DBAAS_K8S_K2HR3_APP_WRAP_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-app-wrap.sh"
K2HR3CLI_DBAAS_K8S_K2HR3_APP_INIT_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/k2hr3-app-init.sh"

K2HR3CLI_DBAAS_K8S_K2HDKC_CHMPXPROC_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-chmpxproc-wrap.sh"
K2HR3CLI_DBAAS_K8S_K2HDKC_SVRPROC_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-serverproc-wrap.sh"
K2HR3CLI_DBAAS_K8S_K2HDKC_INIUPDATE_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-ini-update.sh"
K2HR3CLI_DBAAS_K8S_K2HDKC_R3_REG_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-k2hr3-registration.sh"
K2HR3CLI_DBAAS_K8S_K2HDKC_VAR_SETUP_SH_TEMPL="%%K2HDKC_DBAAS_K8S_LIBEXECDIR%%/dbaas-k2hdkc-variables-setup.sh"

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: noexpandtab sw=4 ts=4 fdm=marker
# vim<600: noexpandtab sw=4 ts=4
#
