#
# K2HDKC DBaaS on Kubernetes Command Line Interface - K2HR3 CLI Plugin
#
# Copyright 2021 Yahoo! Japan Corporation.
#
# K2HDKC DBaaS is a DataBase as a Service provided by Yahoo! JAPAN
# which is built K2HR3 as a backend and provides services in
# cooperation with Kubernetes.
# The Override configuration for K2HDKC DBaaS serves to connect the
# components that make up the K2HDKC DBaaS. K2HDKC, K2HR3, CHMPX,
# and K2HASH are components provided as AntPickax.
#
# For the full copyright and license information, please view
# the license file that was distributed with this source code.
#
# AUTHOR:   Takeshi Nakatani
# CREATE:   Wed Sep 15 2021
# REVISION:
#

#---------------------------------------------------------------------
# K2HDKC DBaaS K8S CLI : K2HR3 configuration file
#---------------------------------------------------------------------
#
# Configuration for values that can be set for the configuration for
# K2HR3 system in K2HDKC DBaaS K8S.
# The format is a format that can be read by a shell script.
#	<Keyword>=<value>
# (please do not put a space before and after the equal.)
#

K2HR3CLI_DBAAS_K8S_R3DKC_NAME=
K2HR3CLI_DBAAS_K8S_R3API_NAME=
K2HR3CLI_DBAAS_K8S_R3APP_NAME=

K2HR3CLI_DBAAS_K8S_R3DKC_REPS=
K2HR3CLI_DBAAS_K8S_R3API_REPS=
K2HR3CLI_DBAAS_K8S_R3APP_REPS=

K2HR3CLI_DBAAS_K8S_R3API_EP=
K2HR3CLI_DBAAS_K8S_R3APP_EP=

K2HR3CLI_DBAAS_K8S_R3API_NPNUM=
K2HR3CLI_DBAAS_K8S_R3APP_NPNUM=

K2HR3CLI_DBAAS_K8S_NODE_IPS=

K2HR3CLI_DBAAS_K8S_CERT_C="JP"
K2HR3CLI_DBAAS_K8S_CERT_S="Tokyo"
K2HR3CLI_DBAAS_K8S_CERT_O="AntPickax"
K2HR3CLI_DBAAS_K8S_CERT_EXPIRE=5

K2HR3CLI_DBAAS_K8S_OIDC_CLIENT_SECRET=
K2HR3CLI_DBAAS_K8S_OIDC_CLIENT_ID=
K2HR3CLI_DBAAS_K8S_OIDC_ISSUER_URL=
K2HR3CLI_DBAAS_K8S_OIDC_USERNAME_KEY=
K2HR3CLI_DBAAS_K8S_OIDC_COOKIENAME=
K2HR3CLI_DBAAS_K8S_OIDC_COOKIE_EXPIRE=

K2HR3CLI_DBAAS_K8S_K8S_API_URL="https://kubernetes.default.svc"
K2HR3CLI_DBAAS_K8S_K8S_CA_CERT="/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
K2HR3CLI_DBAAS_K8S_K8S_SA_TOKEN="/var/run/secrets/kubernetes.io/serviceaccount/token"

#
# This value should not be saved.
#
K2HR3CLI_DBAAS_K8S_CA_PASS=

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: noexpandtab sw=4 ts=4 fdm=marker
# vim<600: noexpandtab sw=4 ts=4
#
